/* Login page css  */

.login {
    height: 100vh;
    background-color: #FFFFFF;

}

.login .container-1 .group-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url('/assets/image/rectangle_14.png') 50% / cover no-repeat;
    position: relative;
    margin-right: 129px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 39px;
    width: auto;
    height: 550px;
    border-radius: 40px;
    box-sizing: border-box;
}


.login .welcome-to-wanda-animal-feed {
    margin-bottom: 20.4px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    font-weight: 580;
    font-size: 50px;
    line-height: 1.244;
    color: #FFFFFF;
}

.login .your-one-stop-solution-for-high-quality-animal-nutrition {
    margin: 0 8px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 25.2px;
    color: #FFFFFF;
}

.login .logo {
    margin: 0 0.5px 10.9px 0.5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}

.login .heading {
    margin-bottom: 1.0px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.login .login-1 {
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 25px;
    line-height: 0.800;
    color: var(--primary, #000000);
}

.login .please-enter-your-registered-username {
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    font-weight: 100;
    font-size: 16px;
    line-height: 0.807;
    margin: 12px auto;
    color: var(--primary, #b6b6b6);
}

.login .selectors {
    margin: 0 48.8px 19.8px 10.8px;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 251px;
    box-sizing: border-box;
}

.login .link-1 {
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    background: blue;
    color: rgb(255, 255, 255);
    padding: 8px;
    width: 115px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
}

.login .link-2 {
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    padding: 8px;
    width: 115px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
}

.login .link-1:hover {
    color: white;
}

.login .username,
.login .password,
.login .email {
    overflow-wrap: break-word;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 16.3px;
    color: var(--black-2, #000000);
}

.login .input-fields {
    margin-bottom: 14.3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.login .input-fields input {
    padding: 10px;
}

.login .input-fields .forgot-password {
    float: right;
    width: 100%;
    font-size: small;
    color: #b6b6b6;
}


/* Media query for Login or Register pages  */

@media screen and (max-width: 990px) {
    .login .container-1 .group-1 {
        display: none;
    }
}